/* google-code-prettify */

pre.prettyprint li.L0,
pre.prettyprint li.L1,
pre.prettyprint li.L2,
pre.prettyprint li.L3,
pre.prettyprint li.L4,
pre.prettyprint li.L5,
pre.prettyprint li.L6,
pre.prettyprint li.L7,
pre.prettyprint li.L8,
pre.prettyprint li.L9 {
        list-style-type: inherit!important;
    }

/* reveal */

.reveal {
    letter-spacing: inherit;
    font-size: 30px;
}
.reveal >.slides  p:not([class^=text-]),
.reveal >.slides  ul:not([class^=text-]),
.reveal >.slides  ol:not([class^=text-]) {
    text-align:left;
    display:block;
}
.reveal > .slides > section .highlight {
    color: gold;
}
.reveal > .slides > section blockquote {
    background: none;
    border-left: 5px solid gold;
    box-shadow: none;
    font-size: 80%;
    font-style: inherit;
    margin: 0 20px 20px;
    padding: 0 0 0 15px;
    width: inherit;
}
.reveal > .slides > section blockquote:before,
.reveal > .slides > section blockquote:after {
    content:'';
}
.reveal > .slides > section pre.prettyprint{
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}
.reveal > .slides > section pre.prettyprint ol{
    margin-left:2.5em;
}

a { outline: 0 none!important; }

.icon-category-::before,
.icon-category-home::before {
    content: "\f015";
    }
.icon-category-presentations::before {
    content: "\f108";
    }
.icon-category-blog::before {
    content: "\f040";
    }
body > .navbar {
    box-shadow: 0 0 10px #000;
}
body > .navbar .brand {
    color:#999;
    }
body > .navbar .brand.active {
    color:#fff;
    }

body[data-layout=presentation] > .qr-code {
    position:fixed;
    right:0;
    }

body nav .label{
    text-shadow: 0 1px 3px  rgba(0,0,0,.4);
    outline: 0 none;
    }
body nav .label:not(:active):target,
body nav .label:not(:active):hover,
body nav .label:not(:active).hover,
body nav .label:not(:active).active {
    background-color:#0088cc;
    }
body > header nav .label:hover {
    box-shadow: 0 0 0 1px #fff;
    }
body .label.label-inverse{
    box-shadow: 0 0 2px 0 #fff;
    }

body > header > .container {
    min-height:150px;
}
body > header > .container > *:not(.qr-code) {
    margin-left: 80px!important;
    margin-right: 150px!important;
    }
body > header > .container > .lead > time {
    display: block;
    left: 0;
    position: absolute;
    text-align: center;
    font-size: 1.3em;
    line-height: 0.8em;
    }

body > header > .container > .lead > time:before,
body > header > .container > .lead > time:after {
    background-color: rgba(255,255,255,0.5);
    display: block;
    font-size: 0.5em;
    padding: 0 5px;
    }
body > header > .container > .lead > time:before {
    border-radius: 0 0 5px 5px;
    content: attr(data-date-month);
    margin-bottom: 8px;
    }
body > header > .container > .lead > time:after {
    border-radius: 5px 5px 0 0;
    content: attr(data-date-year);
    margin-top: 5px;
    }
body > header > .container > h1 > i {
    position: absolute;
    left: 0;
    }
body > header > .container > h1 > a {
    text-decoration: none;
    }
body > header > .container > .qr-code {
    right:0;
    margin:0;
    }
body > header > .container > .qr-code:not(.affix) {
    position:absolute;
    }
/*
body > header > .container > .qr-code.affix {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    right:10px;
    top: 50px;
    }
*/

body > .container aside > ul.nav {
    box-shadow: 0 0  5px  0px #000;
    width: 156px;
    z-index: 1;
    }
body > .container aside > ul.nav > li.qr {
    text-align:center;
    }
body > .container aside > ul.nav > li > a {
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
body > .container aside > ul.nav > li.qr > a:hover {
    background-color: inherit;
    }
body > .container aside > ul.nav:not(.affix) > li.qr {
    display:none;
    }
body > .container aside > ul.nav > li:last-child:first-child > a {
    border-radius: 6px;
}
body > .container aside > ul.nav > li.qr > a {
    margin:0;
    padding:0;
    }
body > .container aside > ul.nav:not(.affix) > li.qr + li > a {
    border-radius: 6px 6px 0 0;
    }

@media (min-width: 768px) {
body > .container aside > section,
body > .container aside > section > nav {
    clear: both;
    }
body > .container aside > section > nav > a {
    float:left;
    clear:both;
    }
}

body > .container nav .label:hover {
    box-shadow: 0 0 1px 0 #000;
    }

body #main-content [data-tags].notactive:not(:hover){
    opacity:0.1;
    }
body[data-layout=categories] > .container aside > ul.nav {
    width: 100px;
    }
body[data-layout=categories] > .container #main-content section:first-child {
    padding-top:0;
    }
body[data-layout=categories] > .container #main-content h1 {
    color: #999;
    margin-bottom:40px;
    margin-top:0;
    }
body[data-layout=categories] > .container #main-content article {
    margin-left: 70px;
    margin-bottom: 40px;
    }
body[data-layout=categories] > .container #main-content article > h2 {
    margin:0;
    }
body[data-layout=categories] > .container #main-content article > p {
    margin-bottom:5px;
    }
body[data-layout=categories] > .container #main-content article > time {
    color: #333;
    font-size: 31.5px;
    position: absolute;
    margin-left: -70px;
    text-align: center;
    font-weight: bold;
    margin-top: -12px;
    }
body[data-layout=categories] > .container #main-content article > time > small {
    display: block;
    font-size: 40%;
    margin-bottom: 2px;
    }

body > footer a:hover {
    text-decoration:none
    }
/*
#main-content h1 {
  font-family: 'Neucha', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 2.8em;
  letter-spacing: -1px;
  color: #474747;
} 

#main-content h1:before {
  content: "/";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -0.9em;
}

#main-content h2 {
  font-family: 'Neucha', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #474747;
} 
#main-content h2:before {
  content: "//";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -1.5em;
}

#main-content h3 {
  font-family: 'Neucha', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
  color: #474747;
} 
 
#main-content h3:before {
  content: "///";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -2em;
}

#main-content h4 {
  font-family: 'Neucha', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 15px;
  font-weight: bold;
  color: #474747;
} 

h4:before {
  content: "////";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -2.8em;
}

#main-content h5 {
  font-family: 'Neucha', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 14px;
  color: #474747;
} 
h5:before {
  content: "/////";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -3.2em;
}

#main-content h6 {
  font-family: 'Neucha', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: .8em;
  color: #474747;
} 
h6:before {
  content: "//////";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -3.7em;
}
*/