.icon-category-::before,
.icon-category-home::before {
    content: "\f015";
    }
.icon-category-presentations::before {
    content: "\f108";
    }
.icon-category-blog::before {
    content: "\f040";
    }

body > .navbar .brand {
    color:#999;
    }
body > .navbar .brand.active {
    color:#fff;
    }
body nav .label{
    text-shadow: 0 1px 3px  rgba(0,0,0,.4),
                 0 0   30px rgba(0,0,0,.075);
    }
body nav .label:not(:active):hover,
body nav .label:not(:active).hover,
body nav .label:not(:active).active {
    background-color:#0088cc;
    }
body .label.label-inverse{
    box-shadow: 0 0 2px 0 #fff;
    }

body > header > .container > * {
    margin-left:66px;
    margin-right: 150px;
    }
body > header > .container > h1 {
    text-indent: -33px;
    }
body > header > .container.qr-code {
    background-repeat: no-repeat;
    background-position: right top;
    }
body > header > .container > .qr-code {
    position:absolute;
    right:0;
    margin:0;
    }

body > header nav .label:hover {
    box-shadow: 0 0 0 1px #fff;
    }

body > .container nav .label:hover {
    box-shadow: 0 0 1px 0 #000;
    }

body > footer a:hover {
    text-decoration:none
    }
/*
#main-content h1 {
  font-family: 'Neucha', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 2.8em;
  letter-spacing: -1px;
  color: #474747;
} 

#main-content h1:before {
  content: "/";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -0.9em;
}

#main-content h2 {
  font-family: 'Neucha', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #474747;
} 
#main-content h2:before {
  content: "//";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -1.5em;
}

#main-content h3 {
  font-family: 'Neucha', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
  color: #474747;
} 
 
#main-content h3:before {
  content: "///";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -2em;
}

#main-content h4 {
  font-family: 'Neucha', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 15px;
  font-weight: bold;
  color: #474747;
} 

h4:before {
  content: "////";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -2.8em;
}

#main-content h5 {
  font-family: 'Neucha', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 14px;
  color: #474747;
} 
h5:before {
  content: "/////";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -3.2em;
}

#main-content h6 {
  font-family: 'Neucha', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: .8em;
  color: #474747;
} 
h6:before {
  content: "//////";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -3.7em;
}
*/