body > .navbar .brand {
    color:#999;
    }
body > header .label{
    text-shadow: 0 1px 3px  rgba(0,0,0,.4),
                 0 0   30px rgba(0,0,0,.075);
    }
body > header .label:hover {
    box-shadow: 0 0 2px 0 #fff;
    }
/*
#main-content h1 {
  font-family: 'Neucha', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 2.8em;
  letter-spacing: -1px;
  color: #474747;
} 

#main-content h1:before {
  content: "/";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -0.9em;
}

#main-content h2 {
  font-family: 'Neucha', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #474747;
} 
#main-content h2:before {
  content: "//";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -1.5em;
}

#main-content h3 {
  font-family: 'Neucha', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
  color: #474747;
} 
 
#main-content h3:before {
  content: "///";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -2em;
}

#main-content h4 {
  font-family: 'Neucha', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 15px;
  font-weight: bold;
  color: #474747;
} 

h4:before {
  content: "////";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -2.8em;
}

#main-content h5 {
  font-family: 'Neucha', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 14px;
  color: #474747;
} 
h5:before {
  content: "/////";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -3.2em;
}

#main-content h6 {
  font-family: 'Neucha', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: .8em;
  color: #474747;
} 
h6:before {
  content: "//////";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -3.7em;
}
*/