
<!-- body.navbar.html -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/"><img src="{{ site.meta.logo }}" style="height: 50px;" /></a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">

        <ul class="nav navbar-nav">

            <li title="Home" data-toggle="tooltip" data-placement="bottom"
                {% if !page.categories == empty %}class='active'{% endif %}>
                    <a href="/"
                       rel="home"
                       class="fa fa-2x fa-home"></a>
            </li>

            {% for category in site.categories %}
                {% assign c-size = page.categories | size %}
                {% assign c-size-strip = page.categories | join:',' | replace: category[0],',' | replace: ',,','' | split:',' | size %}
                <li title="{{ category[0] | capitalize }}"
                    data-toggle="tooltip" data-placement="bottom"
                    {% if c-size != c-size-strip %}class='active'{% endif %}><a href="/{{ category[0] }}"
                                                                                class="fa fa-2x icon-category-{{ category[0] }}"></a></li>
            {% endfor %}

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li title="full screen" data-toggle="tooltip" data-placement="bottom">
                <a id="button_fullscreen" class="fa fa-2x fa-arrows-alt"></a>
            </li>
            <li title="Share this page"
                data-toggle="tooltip"
                data-placement="bottom">
                <a class="fa fa-2x fa-share-alt yashare-auto-init"
                   data-yashareQuickServices="vkontakte,facebook,twitter"
                   data-yasharePopupServices="vkontakte,facebook,twitter">
                </a>
            </li>
            <li title="QR-code for this page" data-toggle="tooltip" data-placement="bottom">
                <a class="fa fa-2x fa-qrcode" data-toggle="modal" data-target="#modal-qr"></a>
            </li>
            <li title="Collaboration" data-toggle="tooltip" data-placement="bottom">
                <a id="together" class="fa fa-2x fa-microphone"></a>
            </li>
        </ul>
    </div>
</nav>

<script>
$(function(){
    var main = $('main').get(0);
    $('#button_fullscreen')
        .click(function(){
            if( main.requestFullscreen )
                main.requestFullscreen();
            else if( main.webkitRequestFullscreen )
                     main.webkitRequestFullscreen();
            else if( main.mozRequestFullScreen )
                     main.mozRequestFullScreen();
            else if( main.msRequestFullscreen )
                     main.msRequestFullscreen();
            });
    });
</script>

{% include body.qr.html %}

<!-- /body.navbar.html -->
