
{% assign tags = '' %}
{% for tag in site.tags %}
    {% capture tags %}{{ tags }}{% unless forloop.first %};{% endunless %}{{ tag[0] }},{{ tag[1] | size }},{% if page.tags contains tag[0] %}active{% else %}{% endif %}
{% endcapture %}
{% endfor %}
{% assign tags = tags | split:';' | sort  %}

<nav role="navigation">
    {% for tag in tags %}
        {% assign t = tag | split:','  %}
        <a rel="bookmarks"
           class="label label-default {{ t[2] }}"
           data-tag="{{ t[0] | replace:' ','_' }}"
           href="/tags/#[{{ t[0] }}]"
           title="tag: {{ t[0] }}"><i class='fa fa-tag'></i>&nbsp;{{ t[0] }}{% unless t[1] == '1' %} ({{ t[1] }}){% endunless %}</a><br />
    {% endfor %}
</nav>

<script>
    $(function(){
        var $tags = $('a.label[data-tag]')
                        .on( 'mouseover mouseout',
                             function(e){
                                 $tags.filter('[data-tag="'+$(this).data('tag')+'"]')
                                      .toggleClass('active', e.type == 'mouseover');
                                 }
                            );
    });
</script>
