
<!-- <body.links.html> -->

<div class='links'>
    <a class="fa fa-2x fa-github-square"
       href="{{ site.meta.author.github.url }}"
       title="GitHub: {{ site.meta.author.github.name }}"></a>
    <a class="fa fa-2x fa-bitbucket-square"
       href="{{ site.meta.author.bitbucket.url }}"
       title="Bitbucket: {{ site.meta.author.bitbucket.name }}"></a>
    <a class="fa fa-2x fa-google-plus-square"
       href="{{ site.meta.author.google.url }}"
       title="G+: {{ site.meta.author.google.name }}"></a>
    <a class="fa fa-2x fa-facebook-square"
       href="{{ site.meta.author.facebook.url }}"
       title="Facebook: {{ site.meta.author.facebook.name }}"></a>
    <a class="fa fa-2x fa-twitter-square"
       href="{{ site.meta.author.twitter.url }}"
       title="Twitter: {{ site.meta.author.twitter.name }}"></a>
    <a class="fa fa-2x fa-pencil-square"
       href="mailto:{{ site.meta.author.email }}"
       title="Email: {{ site.meta.author.email }}"></a>
    <a class="fa fa-2x fa-globe"
       href="{{ site.meta.author.url }}"
       title="Site: {{ site.meta.author.url }}"></a>
</div>

<!-- </body.links.html> -->
