<!-- <body.qr.html> -->

<div class="modal fade" id="modal-qr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="qrcode"
           class="modal-body text-center">
      </div>
    </div>
  </div>
</div>

<script>
$(function(){

new Qrcodesvg( "{{ site.meta.host }}{{ page.url | escape }}", "qrcode", 550 )
             .draw({ "method":"classic",
                     "fill-colors":["#000000","#2D2D2D"],
                     "fill-colors-scope":"square"},
                   { "stroke-width":0 });

});
</script>

<!-- </body.qr.html> -->
