
<!-- <body.navbar.html> -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="brand" href="/" title="Home">{{ site.title }}</a> -->
            <a class="brand" href="{{ site.author.url }}"          >{{ site.title }}</a>
            <a class="brand" href="{{ site.author.github.url }}"   ><i class="icon-github-sign"      title="GitHub: {{ site.author.github.name }}"></i></a>
            <a class="brand" href="{{ site.author.google.url }}"   ><i class="icon-google-plus-sign" title="G+: {{ site.author.google.name }}"></i></a>
            <a class="brand" href="{{ site.author.facebook.url }}" ><i class="icon-facebook-sign"    title="Facebook: {{ site.author.facebook.name }}"></i></a>
            <a class="brand" href="{{ site.author.twitter.url }}"  ><i class="icon-twitter-sign"     title="Twitter: {{ site.author.twitter.name }}"></i></a>
            <a class="brand" href="mailto:{{ site.author.email }}" ><i class="icon-envelope"         title="Email: {{ site.author.email }}"></i></a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li {% if !page.categories == empty %}class='active'{% endif %}>
                            <a href="/"><i class="icon-large icon-home" title="Home"></i></a>
                    </li>
                    {% for category in site.categories %}
                        {% assign c-size = page.categories | size %}
                        {% assign c-size-strip = page.categories | join:',' | replace: category[0],',' | replace: ',,','' | split:',' | size %}
                        <li title="category: {{ category[0] }}"
                            {% if c-size != c-size-strip %}class='active'{% endif %}>
                            <a href="/{{ category[0] }}">{{ category[0] | capitalize }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- </body.navbar.html> -->
