<script src="//google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=sunburst"
        type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
        $('pre > code[class^="language-"]')
            .parent()
            .addClass('prettyprint linenums');
        window.prettyPrint &&
               prettyPrint();
        $(document).on( 'click',
                        'pre.prettyprint li',
                        function(e){ $(this).toggleClass('hover'); } );
    });
</script>
