/* google-code-prettify */

pre.prettyprint li.L0,
pre.prettyprint li.L1,
pre.prettyprint li.L2,
pre.prettyprint li.L3,
pre.prettyprint li.L4,
pre.prettyprint li.L5,
pre.prettyprint li.L6,
pre.prettyprint li.L7,
pre.prettyprint li.L8,
pre.prettyprint li.L9 {
        list-style-type: inherit!important;
    }

/* reveal */

.reveal {
    letter-spacing: inherit;
    font-size: 30px;
}
.reveal >.slides  p:not([class^=text-]),
.reveal >.slides  ul:not([class^=text-]),
.reveal >.slides  ol:not([class^=text-]) {
    text-align:left;
    display:block;
}
.reveal > .slides > section .highlight {
    color: gold;
}
.reveal > .slides > section blockquote {
    background: none;
    border-left: 5px solid gold;
    box-shadow: none;
    font-size: 80%;
    font-style: inherit;
    margin: 0 20px 20px;
    padding: 0 0 0 15px;
    width: inherit;
}
.reveal > .slides > section blockquote:before,
.reveal > .slides > section blockquote:after {
    content:'';
}
.reveal > .slides > section pre.prettyprint{
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}
.reveal > .slides > section pre.prettyprint ol{
    margin-left:2.5em;
}


/* site */

.icon-category-::before,
.icon-category-home::before {
    content: "\f015";
    }
.icon-category-presentations::before {
    content: "\f152";
    }
.icon-category-blog::before {
    content: "\f040";
    }
.icon-category-examples::before {
    content: "\f15b";
    }

.label.active {
    background-color: #428BCA!important;
    }
.label[rel=category]:not(:hover) {
    background-color: #333;
    }

a { outline: 0 none!important; }

body > nav.navbar li.active > a {
    box-shadow: 0 0 50px #ccc;
    }
body > nav.navbar .navbar-brand > a {
    text-decoration: none;
    }

body > header.page-header {
    margin-top: 70px;
    padding-bottom: 18px;
    }
body > header h1 > i{
    margin-left: -45px;
    position: absolute;
    }
body > header .qr-code {
    position: absolute;
    right: 0;
    border: 1px solid #ccc;
    }

body aside > nav {
    text-align: right;
    padding-top: 7.5em;
    }
body aside > section.yashare{
    clear: both;
    padding: 2em 0;
    text-align: right;
    }

body main * {
    word-wrap: break-word;
    }
body main > section > #disqus_thread {
    margin-top: 7em;
    }

body > footer {
    padding-bottom: 1em;
    padding-top: 5em;
    }
body > footer > .links {
    position: fixed;
    bottom: 10px;
    right: 14px;
    }
body > footer > .links > a {
    display: block;
    text-decoration: none !important;
    }

/* categories */

body[data-layout=categories] main > section
                                  + section {
    margin-top: 6em;
    }
body[data-layout=categories] main > section > article {
    margin-top: 3em;
    }
body[data-layout=categories] main > section > article time {
    margin-left: -50px;
    position: absolute;
    text-align: center;
    }

/*
body[data-layout=presentation] > .qr-code {
    position:fixed;
    right:0;
    }

body nav .label{
    text-shadow: 0 1px 3px  rgba(0,0,0,.4);
    outline: 0 none;
    }
body nav > a > .label:not(:active):target,
body nav > a > .label:not(:active):hover,
body nav > a > .label:not(:active).hover,
body nav > a > .label:not(:active).active {
    background-color:#0088cc;
    }
body > header nav > a > .label:hover {
    box-shadow: 0 0 0 1px #fff;
    }
body .label.label-inverse{
    box-shadow: 0 0 2px 0 #fff;
    }

body > header > .container {
    min-height:150px;
}
body > header > .container > *:not(.qr-code) {
    margin-left: 80px!important;
    margin-right: 150px!important;
    }

body > header > .container > h1 > i {
    position: absolute;
    left: 0;
    }
body > header > .container > h1 > a {
    text-decoration: none;
    }
body > header > .container > .qr-code {
    right:0;
    margin:0;
    }
body > header > .container > .qr-code:not(.affix) {
    position:absolute;
    }

body > .container aside > ul.nav {
    box-shadow: 0 0  5px  0px #000;
    width: 156px;
    z-index: 1;
    }
body > .container aside > ul.nav > li.qr {
    text-align:center;
    }
body > .container aside > ul.nav > li > a {
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
body > .container aside > ul.nav > li.qr > a:hover {
    background-color: inherit;
    }
body > .container aside > ul.nav:not(.affix) > li.qr {
    display:none;
    }
body > .container aside > ul.nav > li:last-child:first-child > a {
    border-radius: 6px;
}
body > .container aside > ul.nav > li.qr > a {
    margin:0;
    padding:0;
    }
body > .container aside > ul.nav:not(.affix) > li.qr + li > a {
    border-radius: 6px 6px 0 0;
    }

@media (min-width: 768px) {
body > .container aside > section,
body > .container aside > section > nav {
    clear: both;
    }
body > .container aside > section > nav > a {
    float:left;
    clear:both;
    }
}

body > .container nav > a > .label:hover {
    box-shadow: 0 0 1px 0 #000;
    }

body #main-content [data-tags].notactive:not(:hover){
    opacity:0.1;
    }
body[data-layout=categories] > .container aside > ul.nav {
    width: 100px;
    }
body[data-layout=categories] > .container #main-content section:first-child {
    padding-top:0;
    }
body[data-layout=categories] > .container #main-content h1 {
    color: #999;
    margin-bottom:40px;
    margin-top:0;
    }
body[data-layout=categories] > .container #main-content article {
    margin-left: 70px;
    margin-bottom: 40px;
    }
body[data-layout=categories] > .container #main-content article > h2 {
    margin:0;
    }
body[data-layout=categories] > .container #main-content article > p {
    margin-bottom:5px;
    }

body > footer a:hover {
    text-decoration:none
    }
*/