/* helpers */

.inline-block {
    display: inline-block!important;
    width:auto!important;
    }
.absolute {
    position: absolute;
    }
.fg-white {
    color: #fff!important;
    }
.fg-red {
    color: #c7254e!important;
    }
.b,
.bold,
.strong {
    font-weight:bold!important;
    }
.u,
.underline {
    text-decoration:underline!important;
    }
.o,
.overline {
    text-decoration:overline!important;
    }
.d,
.del {
    text-decoration:line-through!important;
    }
.-invisible {
    visibility: hidden;
    }
.-width-0,
.-width-0::after,
.-width-0::before {
    width: 0;
    /* content: initial!important; */
    }
.-va-middle {
    vertical-align: middle;
    }
.-nowrap {
    white-space: nowrap;
    }

/* bootstrap */

blockquote.alert {
    font-size:inherit;
    }

main h1,
main .h1,
main h2,
main .h2,
main h3,
main .h3,
main h4,
main .h4 {
    margin-top: 40px;
    }

/* google-code-prettify */

pre.prettyprint {
    width: 100%!important;
    }

pre.prettyprint li {
    cursor: default;
    }
pre.prettyprint li:hover,
pre.prettyprint li.hover {
    background-color: rgba(255,255,255,0.3);
    }
pre.prettyprint li.L0,
pre.prettyprint li.L1,
pre.prettyprint li.L2,
pre.prettyprint li.L3,
pre.prettyprint li.L4,
pre.prettyprint li.L5,
pre.prettyprint li.L6,
pre.prettyprint li.L7,
pre.prettyprint li.L8,
pre.prettyprint li.L9 {
    list-style-type: inherit!important;
    }

/* reveal */

.reveal {
    letter-spacing: inherit;
    font-size: 30px;
    font-family: sans-serif;
    }

.reveal a:hover {
    color: gold;
    }
.reveal em {
    color: gold;
    font-style: inherit;
    }
.reveal .slides section .fragment.highlight-current-blue.current-fragment {
    background-color: rgba(255,255,255,0.2);
    outline: 5px solid rgba(255,255,255,0.2);
    color: inherit;
    }
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: sans-serif;
    letter-spacing: initial!important;
    font-weight: bold;
    text-transform: none;
    }

.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin-top:30px;
    }
.reveal ul + p,
.reveal ol + p {
    margin-top:20px!important;
    }
.reveal dl > dd {
    text-align: left;
    }
.reveal kbd {
    padding: 0 8px;
    color: gold;
    background-color: #000;
    }
.reveal code:not([class^=language-]) {
    background-color: #000;
    padding: 2px 8px 0;
    color: gold;
    margin: 0 5px;
    }
.reveal code:not([class^=language-]):first-child {
    margin-left: 0;
    }
.reveal code:not([class^=language-]):last-child {
    margin-right: 0;
    }

.reveal blockquote {
    font-size: 80%!important;
    font-style: inherit;
    }
.reveal blockquote:before,
.reveal blockquote:after {
    content:'';
    }
.reveal blockquote.example {
    padding: 0.5em;
    margin: 0.5em auto;
    }

.reveal pre.prettyprint{
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0.5em auto;
    }
.reveal pre.prettyprint ol{
    margin-left:2.5em;
    }
.reveal .small {
    font-size: 85%;
    }
.reveal .highlight {
    color: gold!important;
    }
.reveal .screenshot > img {
    box-shadow:none;
    margin: 0 auto;
    }
.reveal section img {
     border: 0 none;
     box-shadow: none;
    }
.reveal .label {
    padding: 2px 5px;
    }
.reveal .label {
    padding: 2px 5px;
    }

.reveal > .slides  p:not([class^=text-]),
.reveal > .slides  ul:not([class^=text-]),
.reveal > .slides  ol:not([class^=text-]) {
    text-align:left;
    display:block;
    }

.reveal .slide-number {
    color: gold;
    opacity: 1;
    font-size: 25px;
    line-height: 25px;
    }
.reveal.overview .slides section.present {
    box-shadow: 0 0 100px #000;
    }


/* site */

.icon-category-::before,
.icon-category-home::before {
    content: "\f015";
    }
.icon-category-presentations::before {
    /*content: "\f152";*/
    content: "\f008";
    }
.icon-category-blog::before {
    content: "\f040";
    }
.icon-category-examples::before {
    content: "\f0eb";
    }
.icon-category-lab::before {
    content: "\f0c3";
    }

.label.hover,
.label.active {
    background-color: #428BCA!important;
    }
.label[rel=category]:not(:hover) {
    background-color: #333;
    }

a { outline: 0 none!important; }

nav { cursor: default; }

blockquote.example {
    font-size:inherit;
    border-radius: 8px;
    background-color: #555;
    margin: 1em auto;
    padding: 1em;
    border: 0 none;
    color: #fff;
    }
blockquote.example * {
    max-width:100%;
    }
blockquote.example input,
blockquote.example textarea,
blockquote.example button {
    color: #000;
    }

p.screenshot > img {
    box-shadow: 0 0 10px;
    margin: 1em auto;
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
    }
p.screenshot > img:first-child {
    margin-left:2.5%;
    }

body > nav.navbar {
    padding-right:15px;
    box-shadow: 0 0 10px;
    }
body > nav.navbar li > a {
    text-decoration: none;
    cursor: pointer;
    }
body > nav.navbar li.active > a {
    box-shadow: 0 0 50px #ccc;
    }
body > nav.navbar   li.active
                  + li.active > a {
    box-shadow: 10px 0 55px #ccc;
    }
body > nav.navbar a.fa-share-alt {
    font-size: 2em;
    white-space: nowrap;
    }
body > nav.navbar a.fa-share-alt > .b-share_link {
    display: inline-block;
    height: 50px;
    margin-left: -35px;
    margin-top: -15px;
    opacity: 0;
    position: absolute;
    width: 50px;
    }
body > header.page-header {
    margin-top: 90px;
    margin-bottom: 50px;
    padding-bottom: 0;
    border: none;
    }
body > header h1 {
    display: inline-block;
    line-height: 0.9;
    margin: 0;
    white-space: normal;
    margin-left: -5px;
    }
body > header h1 > small {
    display: block;
    margin: 11px 0;
    }
body > header i[class*="icon-category-"] {
    font-size: 140px;
    text-shadow: 2px 4px 0 #ccc;
    cursor: default;
    }

body aside > ul.nav > li.toc > a {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 10px;
    }
body aside > ul.nav > li.toc a::before {
    padding-right: 5px;
    color: #c7254e;
    }
body aside > ul.nav > li.toc.toc-h1 {
    font-weight: bolder;
    }
body aside > ul.nav > li.toc.toc-h2 a::before {
    content:'»';
    }
body aside > ul.nav > li.toc.toc-h3 a::before {
    content:'»»';
    }
body aside > ul.nav > li.toc.toc-h4 a::before {
    content:'»»»';
    }
body aside > ul.nav > li.toc.toc-h5 a::before {
    content:'»»»»';
    }

body aside > nav {
    text-align: right;
    display: inline-block;
    }

body aside  section,
body aside .section {
    padding-bottom: 2em;
    display: inline-block;
    text-align: right;
    }

body aside section.yashare {
    padding-top: 20px;
    clear: both;
    text-align: right;
    }
body aside section.yashare .b-share {
    padding: 0!important;
    }

body main {
    background-color: transparent;
    }
body main * {
    word-wrap: break-word;
    }
body main > section > #disqus_thread {
    margin-top: 7em;
    }

body > footer {
    padding-bottom: 1em;
    padding-top: 5em;
    }
body > footer > .links {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #fff;
    border-radius: 10px 0 0;
    box-shadow: 0 0 10px;
    padding: 10px;
    }
body > footer > .links > a {
    display: block;
    text-decoration: none !important;
    }

body main section:first-of-type h1 {
    margin-top: 0;
    }

body .b-share-popup-wrap {
    margin-left: -56px;
    margin-top: 29px;
    }
body .b-share-popup .b-share-popup__i {
    width: 164px;
    }
body .b-share-popup .b-share-popup__i .b-share-popup_shorter {
    cursor: pointer;
    }
body .b-share-popup .b-share-popup__i .b-share-popup__yandex {
    display: none!important;
    }

/* categories */

body[data-layout=categories] main > section
                                  + section {
    margin-top: 6em;
    }
body[data-layout=categories] main > section h1 {
    font-size: 50px;
    }
body[data-layout=categories] main > section > article {
    margin-top: 3em;
    }
body[data-layout=categories] main > section > article time {
    margin-left: -50px;
    position: absolute;
    text-align: right;
    }

body[data-layout=presentation] > nav.navbar {
    padding-right:15px;
    }
body[data-layout=presentation] > nav.navbar {
    overflow: hidden;
    }
body[data-layout=presentation] > nav.navbar:not(:hover),
body[data-layout=presentation] > nav.navbar:not(:hover)
                               ~ .b-share-popup-wrap .b-share-popup__tail {
    opacity:0;
    }
