/* helpers */

.inline-block {
    display: inline-block!important;
    width:auto!important;
    }
.absolute {
    position: absolute;
    }
.fg-white {
    color: #fff!important;
    }
.fg-red {
    color: #c7254e!important;
    }
.b,
.bold,
.strong {
    font-weight:bold!important;
    }
.u,
.underline {
    text-decoration:underline!important;
    }
.o,
.overline {
    text-decoration:overline!important;
    }
.d,
.del {
    text-decoration:line-through!important;
    }

/* bootstrap */

blockquote.alert {
    font-size:inherit;
    }

main h1,
main .h1,
main h2,
main .h2,
main h3,
main .h3,
main h4,
main .h4 {
    margin-top: 40px;
    }

/* google-code-prettify */
pre.prettyprint li {
    cursor: default;
    }
pre.prettyprint li:hover,
pre.prettyprint li.hover {
    background-color: rgba(255,255,255,0.3);
    }
pre.prettyprint li.L0,
pre.prettyprint li.L1,
pre.prettyprint li.L2,
pre.prettyprint li.L3,
pre.prettyprint li.L4,
pre.prettyprint li.L5,
pre.prettyprint li.L6,
pre.prettyprint li.L7,
pre.prettyprint li.L8,
pre.prettyprint li.L9 {
        list-style-type: inherit!important;
    }

/* reveal */

.reveal {
    letter-spacing: inherit;
    font-size: 30px;
    font-family: sans-serif;
    }

.reveal em {
    color: gold;
    }
.reveal .fragment.highlight-current-blue.current-fragment,
.reveal .fragment.highlight-current-blue.current-fragment * {
    color: #f00!important;
    }
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: sans-serif;
    letter-spacing: initial!important;
    font-weight: bold;
    text-transform: none;
    }

.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin-top:30px;
    }
.reveal ul + p,
.reveal ol + p {
    margin-top:20px!important;
    }
.reveal dl > dd {
    text-align: left;
    }
.reveal kbd {
    padding: 0 8px;
    color: gold;
    background-color: #000;
    }
.reveal code:not([class^=language-]) {
    background-color: #000;
    padding: 2px 8px 0;
    color: gold;
    margin: 0 5px;
    }
.reveal code:not([class^=language-]):first-child {
    margin-left: 0;
    }
.reveal code:not([class^=language-]):last-child {
    margin-right: 0;
    }

.reveal blockquote {
    font-size: 80%!important;
    font-style: inherit;
    }
.reveal blockquote:before,
.reveal blockquote:after {
    content:'';
    }
.reveal blockquote.example {
    padding: 0.5em;
    margin: 0.5em auto;
    }

.reveal pre.prettyprint{
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0.5em auto;
    }
.reveal pre.prettyprint ol{
    margin-left:2.5em;
    }
.reveal .small {
    font-size: 85%;
    }
.reveal .highlight {
    color: gold!important;
    }
.reveal .screenshot > img {
    box-shadow:none;
    margin: 0 auto;
    }

.reveal .label {
    padding: 2px 5px;
    }
.reveal .label {
    padding: 2px 5px;
    }

.reveal > .slides  p:not([class^=text-]),
.reveal > .slides  ul:not([class^=text-]),
.reveal > .slides  ol:not([class^=text-]) {
    text-align:left;
    display:block;
    }
    
.reveal .slide-number {
    color: gold;
    opacity: 1;
    font-size: 25px;
    line-height: 25px;
    }
.reveal.overview .slides section.present {
    box-shadow: 0 0 100px #000;
    }


/* site */

.icon-category-::before,
.icon-category-home::before {
    content: "\f015";
    }
.icon-category-presentations::before {
    content: "\f152";
    }
.icon-category-blog::before {
    content: "\f040";
    }
.icon-category-examples::before {
    content: "\f0c3";
    }

.label.active {
    background-color: #428BCA!important;
    }
.label[rel=category]:not(:hover) {
    background-color: #333;
    }

a { outline: 0 none!important; }

blockquote.example {
    font-size:inherit;
    border-radius: 8px;
    background-color: #555;
    margin: 1em auto;
    padding: 1em;
    width: 95%;
    border: 0 none;
    color: #fff;
    }
blockquote.example * {
    max-width:100%;
    }
blockquote.example input,
blockquote.example textarea,
blockquote.example button {
    color: #000;
    }

p.screenshot > img {
    box-shadow: 0 0 10px;
    margin: 1em auto;
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
    }
p.screenshot > img:first-child {
    margin-left:2.5%;
    }

body > nav.navbar {
    padding-right:15px;
    }
body > nav.navbar li.active > a {
    box-shadow: 0 0 50px #ccc;
    }
body > nav.navbar li > a {
    text-decoration: none;
    cursor: pointer;
    }

body > header.page-header {
    margin-top: 70px;
    padding-bottom: 18px;
    }
body > header h1 > i {
    margin-left: -45px;
    position: absolute;
    }
body > header .qr-code {
    position: absolute;
    right: 15px;
    border: 1px solid #ccc;
    }

body aside > ul.nav > li.toc > a {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 10px;
    }
body aside > ul.nav > li.toc a::before {
    padding-right: 5px;
    color: #c7254e;
    }
body aside > ul.nav > li.toc.toc-h1 {
    font-weight: bolder;
    }
body aside > ul.nav > li.toc.toc-h2 a::before {
    content:'»';
    }
body aside > ul.nav > li.toc.toc-h3 a::before {
    content:'»»';
    }
body aside > ul.nav > li.toc.toc-h4 a::before {
    content:'»»»';
    }
body aside > ul.nav > li.toc.toc-h5 a::before {
    content:'»»»»';
    }

body aside > nav {
    text-align: right;
    }

body aside > section.yashare {
    clear: both;
    padding: 2em 0;
    text-align: right;
    }


body main * {
    word-wrap: break-word;
    }
body main > section > #disqus_thread {
    margin-top: 7em;
    }

body > footer {
    padding-bottom: 1em;
    padding-top: 5em;
    }
body > footer > .links {
    position: fixed;
    bottom: 10px;
    right: 14px;
    }
body > footer > .links > a {
    display: block;
    text-decoration: none !important;
    }

/* categories */

body[data-layout=categories] main > section
                                  + section {
    margin-top: 6em;
    }
body[data-layout=categories] main > section > article {
    margin-top: 3em;
    }
body[data-layout=categories] main > section > article time {
    margin-left: -50px;
    position: absolute;
    text-align: center;
    }

body[data-layout=presentation] > nav.navbar {
    padding-right:15px;
    }
body[data-layout=presentation] > .qr-code {
    display: none;
    /*
    position:fixed;
    right:0;
    z-index: 1031;
    */
    }
body[data-layout=presentation] > nav {
    overflow: hidden;
    }
body[data-layout=presentation] > nav:not(:hover) {
    opacity:0;
    }

/*
body nav .label{
    text-shadow: 0 1px 3px  rgba(0,0,0,.4);
    outline: 0 none;
    }
body nav > a > .label:not(:active):target,
body nav > a > .label:not(:active):hover,
body nav > a > .label:not(:active).hover,
body nav > a > .label:not(:active).active {
    background-color:#0088cc;
    }
body > header nav > a > .label:hover {
    box-shadow: 0 0 0 1px #fff;
    }
body .label.label-inverse{
    box-shadow: 0 0 2px 0 #fff;
    }

body > header > .container {
    min-height:150px;
}
body > header > .container > *:not(.qr-code) {
    margin-left: 80px!important;
    margin-right: 150px!important;
    }

body > header > .container > h1 > i {
    position: absolute;
    left: 0;
    }
body > header > .container > h1 > a {
    text-decoration: none;
    }
body > header > .container > .qr-code {
    right:0;
    margin:0;
    }
body > header > .container > .qr-code:not(.affix) {
    position:absolute;
    }

body > .container aside > ul.nav {
    box-shadow: 0 0  5px  0px #000;
    width: 156px;
    z-index: 1;
    }
body > .container aside > ul.nav > li.qr {
    text-align:center;
    }
body > .container aside > ul.nav > li > a {
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
body > .container aside > ul.nav > li.qr > a:hover {
    background-color: inherit;
    }
body > .container aside > ul.nav:not(.affix) > li.qr {
    display:none;
    }
body > .container aside > ul.nav > li:last-child:first-child > a {
    border-radius: 6px;
}
body > .container aside > ul.nav > li.qr > a {
    margin:0;
    padding:0;
    }
body > .container aside > ul.nav:not(.affix) > li.qr + li > a {
    border-radius: 6px 6px 0 0;
    }

@media (min-width: 768px) {
body > .container aside > section,
body > .container aside > section > nav {
    clear: both;
    }
body > .container aside > section > nav > a {
    float:left;
    clear:both;
    }
}

body > .container nav > a > .label:hover {
    box-shadow: 0 0 1px 0 #000;
    }

body #main-content [data-tags].notactive:not(:hover){
    opacity:0.1;
    }
body[data-layout=categories] > .container aside > ul.nav {
    width: 100px;
    }
body[data-layout=categories] > .container #main-content section:first-child {
    padding-top:0;
    }
body[data-layout=categories] > .container #main-content h1 {
    color: #999;
    margin-bottom:40px;
    margin-top:0;
    }
body[data-layout=categories] > .container #main-content article {
    margin-left: 70px;
    margin-bottom: 40px;
    }
body[data-layout=categories] > .container #main-content article > h2 {
    margin:0;
    }
body[data-layout=categories] > .container #main-content article > p {
    margin-bottom:5px;
    }

body > footer a:hover {
    text-decoration:none
    }
*/
