.reveal {
    letter-spacing: inherit;
    font-size: 30px;
    }

.reveal a {
    color: #13DAEC;
}
.reveal a:hover {
    color: gold;
    }
.reveal em {
    color: gold;
    font-style: inherit;
    }
.reveal .slides section .fragment.highlight-current-blue.current-fragment {
    background-color: rgba(255,255,255,0.2);
    outline: 5px solid rgba(255,255,255,0.2);
    color: inherit;
    }
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    color: gold;
    letter-spacing: initial!important;
    font-weight: bold;
    text-transform: none;
    }

.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    color: gold;
    margin-top:30px;
    }
.reveal ul + p,
.reveal ol + p {
    margin-top:20px!important;
    }
.reveal li + li {
    margin-top:20px;
    }
.reveal dl > dd {
    text-align: left;
    }
.reveal kbd {
    padding: 0 8px;
    color: gold;
    background-color: #000;
    }
.reveal code:not([class^=language-]) {
    background-color: transparent;
    padding: 2px 8px 0;
    color: gold;
    margin: 0 5px;
    }
.reveal code:not([class^=language-]):first-child {
    margin-left: 0;
    }
.reveal code:not([class^=language-]):last-child {
    margin-right: 0;
    }

.reveal blockquote {
    font-size: 80%!important;
    font-style: inherit;
    }
.reveal blockquote:before,
.reveal blockquote:after {
    content:'';
    }
.reveal blockquote.example {
    padding: 0.5em;
    margin: 0.5em auto;
    }

.reveal pre.prettyprint{
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0.5em auto;
    }
.reveal pre.prettyprint ol{
    margin-left:2.5em;
    }
.reveal .small {
    font-size: 85%;
    }
.reveal .highlight {
    color: gold!important;
    }
.reveal .screenshot > img {
    box-shadow:none;
    margin: 0 auto;
    }
.reveal section img {
     border: 0 none;
     box-shadow: none;
    }
.reveal .label {
    padding: 2px 5px;
    }
.reveal .label {
    padding: 2px 5px;
    }

.reveal > .slides  p:not([class^=text-]),
.reveal > .slides  ul:not([class^=text-]),
.reveal > .slides  ol:not([class^=text-]) {
    text-align:left;
    display:block;
    }
.reveal > .slides i.badge {
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
    }

.reveal .progress span {
    background: gold;
}
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
    border-right-color: gold;
    }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
    border-left-color: gold;
    }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
    border-bottom-color: gold;
    }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
    border-top-color: gold;
    }

.reveal .controls div.navigate-left.enabled:hover {
    border-right-color: #13DAEC;
    }

.reveal .controls div.navigate-right.enabled:hover {
    border-left-color: #13DAEC;
    }

.reveal .controls div.navigate-up.enabled:hover {
    border-bottom-color: #13DAEC;
    }

.reveal .controls div.navigate-down.enabled:hover {
    border-top-color: #13DAEC;
    }


.reveal .slide-number {
    color: gold;
    opacity: 1;
    font-size: 25px;
    line-height: 25px;
    }
.reveal.overview .slides section.present {
    box-shadow: 0 0 100px #000;
    }
