---
    layout: html.default
    layout-current: categories
---

{% assign sections = '' %}
{% assign section  = '' %}
{% assign post_year  = '' %}

{% for post in site.posts %}

    {% assign post-allow = false %}

    {% for category in page.categories %}
        {% if post.categories contains category %}
            {% assign post-allow = true %}
        {% endif %}
    {% endfor %}

    {% assign post_year_prev = post_year %}
    {% assign post_year = post.date | date:'%Y' %}
    {% assign post_content = '' %}
    {% assign post-append  = false %}

    {% if page.categories == empty or post-allow %}
        {% capture post_content %}
            <article class="post" data-tags="{{ post.tags | join:',' | replace:' ','_' | replace:',',' ' }}">
                <h2><time datetime ="{{ post.date }}"
                      pubdate  ="{{ post.date }}"
                      title    ="{{ post.date }}"><small>{{ post.date | date:'%b' }}</small><br />{{ post.date | date:'%d' }}</time>
                    <a class="title"
                       rel  ="bookmark"
                       href ="{{ post.url }}"
                       title="{{ post.title }}">{{ post.title }}</a><br />
                    {% if post.description %}
                        <small>{{ post.description }}</small>
                    {% endif %}
                </h2>
                <nav role="navigation">
                    {% for category in post.categories %}
                        <a rel  ="category"
                           class="label label-default"
                           href ="/{{ category }}"
                           title="category: {{ category }}"><i class='fa fa-bookmark'></i>&nbsp;{{ category }}</a>
                    {% endfor %}
                    {% assign post-tags-sorted = post.tags | sort %}
                    {% for tag in post-tags-sorted %}
                        <a rel="tag"
                           class="label label-default"
                           data-tag="{{ tag | replace:' ','_' }}"
                           href="/tags#[{{ tag }}]"
                           title="tag: {{ tag }}"><i class='fa fa-tag'></i>&nbsp;{{ tag }}</a>
                    {% endfor %}
                </nav>
            </article>
        {% endcapture %}
    {% endif %}

    {% if post_content != '' or forloop.last %}

        {% if post_year_prev == '' or post_year_prev == post_year %}
            {% assign post-append = true %}
        {% endif %}

        {% if post-append %}
            {% assign section = section | append:post_content %}
        {% endif %}

        {% if post-append == false or forloop.last %}

            {% if section %}
                {% capture sections %}
                    {{ sections }}
                    <section id="toc-{{ post_year_prev }}">
                        <h1>{{ post_year_prev }}</h1>
                        {{ section }}
                    </section>
                {% endcapture %}
            {% endif %}

            {% if forloop.last and post_content != '' and post-append == false %}
                {% capture sections %}
                    {{ sections }}
                    <section id="toc-{{ post_year }}">
                        <h1>{{ post_year }}</h1>
                        {{ post_content }}
                    </section>
                {% endcapture %}
            {% else %}
                {% assign section = post_content %}
            {% endif %}

        {% endif %}

    {% endif %}

{% endfor %}

<header class="page-header container">
    <div class="row">
        <div class="col-md-2">
            {% include body.qr.html %}
        </div>
        <h1 class="col-md-9 col-md-offset-1">
            <i class="fa icon-category-{{ page.categories[0] }}"></i>
            <a href="{{ page.url }}" title="{{ page.title }}" rel="bookmark">{{ page.title }}</a><br/>
            <small>{{ page.description }}</small>
        </h1>
    </div>
</header>

<div class="container">
    <div class="row">
        <aside class="col-md-2">

            {% include body.tags.html %}
            {% include body.social.html %}

        </aside>
        <main role="main" class="col-md-9 col-md-offset-1">

            {{ content }}
            {{ sections }}

        </main>
    </div>
</div>

<script>

    function popstate(){

        var tags = /^#\[(.+)\]$/.test(location.hash) ?
                        RegExp.$1
                              .replace(/\s+/g, '_')
                              .split(',')
                              .map( function(tag){ return tag.trim(); })
                              .filter( function(tag){ return !!tag; }):
                        [];

        $('[data-tag] > .label')
            .removeClass('active');
        if( tags.length )
            $('main [data-tags]')
                .hide();
        else
            $('main [data-tags]')
                .show();

        tags.forEach( function(tag){
            $('[data-tag="'+tag+'"] > .label')
                .addClass('active'),
            $('main [data-tags~="'+tag+'"]')
                .show();
        });

        $('main > section')
            .show()
            .filter(':not(:has([data-tags]:visible))')
                .hide()
                .end();

    }

    $(popstate);

    $(window).on({ popstate: popstate });

    $(document).on({
        click: function(e){
            if(!$('[href*="/tags#["]')
                 .has(e.target)
                 .size())
                location.hash='';
        }
    })

</script>
