---
    layout: html.default
    layout-current: post
---
<header class="jumbotron subhead" id="overview">
    <div class="container">

        {% include body.qr.html %}

        <h1><i class="icon-category-{{ page.categories[0] }}"></i> <a href="{{ page.url }}" title="{{ page.title | strip_html }}" rel="bookmark">{{ page.title }}</a></h1>
        <p class="lead">{{ page.description }}</p>
        <nav role="navigation">
            <time datetime ="{{ page.date }}"
                  pubdate  ="{{ page.date }}"
                  title    ="{{ page.date }}">{{ page.date | date:'%d.%m.%Y' }}</time>
            {% for category in page.categories %}
                <a rel="category"
                   href="/{{ category }}"
                   title="category: {{ category }}"><span class="label label-inverse"><i class='icon-bookmark'></i> {{ category }}</span></a>
            {% endfor %}
            {% assign tags = page.tags | sort %}
            {% for tag in tags %}
                <a rel="tag"
                   data-tag="{{ tag }}"
                   href="/tags#[{{ tag }}]"
                   title="tag: {{ tag }}"><span class="label"><i class='icon-tag'></i> {{ tag }}</span></a>
            {% endfor %}
        </nav>
    </div>
</header>

<div class="container">
    <div class="row">
        <aside class="span2 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav" data-spy="affix" data-offset-top="300">
                <li class="qr">
                    {% include body.qr.html %}
                </li>
            </ul>

            {% include body.social.html %}
            {% include body.tags.html %}

        </aside>
        <div class="span10">
            <section id="main-content">

                <article>
                    {{ content }}
                </article>

                <section>
                    <abbr class="published" title="{{ page.date }}">{{ page.date | date_to_string }}</abbr>
                </section>
                <section>
                    {% include body.disqus.html %}
                </section>

            </section>
        </div>
    </div>
</div>
<script>
$((function($toc, $content){

    $toc     = $($toc);
    $content = $($content);

    var $section,
        hquery = 'h1[id], h2[id], h3[id], h4[id], h5[id]';

    $content
        .children()
        .each(function(){
            var $this = $(this);
            if( $this.is(hquery) )
                $toc.append(
                    $('<li />')
                        .attr({ title:$this.text() })
                        .addClass( 'toc toc-' +
                                   this.nodeName
                                       .toLowerCase() )
                        .append(
                            $('<a />').attr({ href:'#'+this.id })
                                      .html( $this.html() )
                         )
                 ),
                $section = $this.wrap( $('<section />')
                                            .attr({ id:this.id }) )
                                .removeAttr('id')
                                .parent();
            else if( $section )
                     $section.append($this);
         });

})( 'aside > ul.nav.nav-list',
    '#main-content > article' ));
</script>
