---
    layout: html
---
<head>

    {% include head.html %}

    <link href="https://fonts.googleapis.com/css?family=Neucha&subset=latin,cyrillic"
          rel ="stylesheet" type="text/css" />
    
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.no-icons.min.css"
          rel ="stylesheet" type="text/css" media="screen" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css"
          rel ="stylesheet" type="text/css" media="screen" />

    <!-- link href="https://raw.github.com/twitter/bootstrap/gh-pages/assets/css/docs.css"
          rel ="stylesheet" type="text/css" media="screen" / -->
    <link href="/style/docs.css"
          rel ="stylesheet" type="text/css" media="screen" />
    <link href="/style/pygment.monokai.css"
          rel ="stylesheet" type="text/css" media="screen" />
    <link href="/style/default.css"
          rel ="stylesheet" type="text/css" media="screen" />
    <!-- link href="/stylesheets/stylesheet.css" rel="stylesheet" type="text/css" media="screen" / -->
    <!-- link href="/stylesheets/print.css" rel="stylesheet" type="text/css" media="print" / -->

    <script src ="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
            type="text/javascript"></script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">

    {% include body.navbar.html %}

    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h1>{{ page.title }}</h1>
            <p class="lead">{{ page.description }}</p>
        </div>
    </header>
    {{ page.toc }}
    <div class="container">
        <div class="row">
            <aside class="span3 bs-docs-sidebar">
                <ul class="nav nav-list bs-docs-sidenav">
                    <li><a href="#download-bootstrap"><i class="icon-chevron-right"></i> Download</a></li>
                    <li><a href="#file-structure"><i class="icon-chevron-right"></i> File structure</a></li>
                    <li><a href="#contents"><i class="icon-chevron-right"></i> What's included</a></li>
                    <li><a href="#html-template"><i class="icon-chevron-right"></i> HTML template</a></li>
                    <li><a href="#examples"><i class="icon-chevron-right"></i> Examples</a></li>
                    <li><a href="#what-next"><i class="icon-chevron-right"></i> What next?</a></li>
                </ul>
            </aside>
            <div class="span9">
                <section id="main-content">
    
                    {{ content }}
    
                </section>
            </div>
        </div>
    </div>

    <script src ="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"
            type="text/javascript"></script>

    {% include body.google-analytics.html %}

</body>
