---
    layout: html
---
<head>

    {% include head.html %}

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css"
          rel ="stylesheet" type="text/css" media="screen" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css"
          rel ="stylesheet" type="text/css" media="screen" />

    <link href="/style/default.css"
          rel ="stylesheet" type="text/css" media="screen" />

    <script src ="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
            type="text/javascript"></script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar" data-layout="{{ page.layout-current }}">

    {% include body.navbar.html %}

    {{ content }}

    <footer class="container">
        <a class="icon-2x icon-github-sign"
           href="{{ site.meta.author.github.url }}"
           title="GitHub: {{ site.meta.author.github.name }}"></a>
        <a class="icon-2x icon-bitbucket-sign"
           href="{{ site.meta.author.bitbucket.url }}"
           title="Bitbucket: {{ site.meta.author.bitbucket.name }}"></a>
        <a class="icon-2x icon-google-plus-sign"
           href="{{ site.meta.author.google.url }}"
           title="G+: {{ site.meta.author.google.name }}"></a>
        <a class="icon-2x icon-facebook-sign"
           href="{{ site.meta.author.facebook.url }}"
           title="Facebook: {{ site.meta.author.facebook.name }}"></a>
        <a class="icon-2x icon-twitter-sign"
           href="{{ site.meta.author.twitter.url }}"
           title="Twitter: {{ site.meta.author.twitter.name }}"></a>
        <a class="icon-2x icon-globe"
           href="{{ site.meta.author.url }}"
           title="Site: {{ site.meta.author.url }}"></a>
        <a class="icon-2x icon-envelope"
           href="mailto:{{ site.meta.author.email }}"
           title="Email: {{ site.meta.author.email }}"></a>
    </footer>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
            type="text/javascript"></script>

    {% include body.codehighlighter.html %}
    {% include body.google-analytics.html %}

    <script>
    <!--
    $('*[data-toggle="tooltip"]').tooltip();
    //-->
    </script>

</body>
