---
    layout: html.default
    layout-current: tags
---

<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1><i class="icon-category-{{ page.categories[0] }}"></i><a href="{{ page.url }}" title="{{ page.title }}" rel="bookmark">{{ page.title }}</a></h1>
        <p class="lead">{{ page.description }}</p>
    </div>
</header>

<div class="container" data-layout="{{ page.layout-current }}">
    <div class="row">
        <aside class="span3 bs-docs-sidebar">

            {% include body.tags.html %}

        </aside>
        <div class="span9">
            <section id="main-content">

                {{ content }}

                {% assign tags = '' %}
                {% for tag in site.tags %}
                    {% capture tags %}{{ tags }}{% unless forloop.first %};{% endunless %}{{ tag[0] }}{% endcapture %}
                {% endfor %}
                {% assign tags = tags | split:';' | sort  %}

                {% for tag in tags %}
                    <section id="{{ tag }}">{{ tag }}</section>
                {% endfor %}

            </section>
        </div>
    </div>
</div>
