---
    layout: html.default
    layout-current: post
---
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <img class="qr-code" data-spy="affix" data-offset-top="300"
             src="{{ site.services.qrcode }}{{ site.host }}{{ page.url | escape }}" title="QR-code for this page ({{ site.host }}{{ page.url }})" />
        <h1><i class="icon-category-{{ page.categories[0] }}"></i> <a href="{{ page.url }}" title="{{ page.title }}" rel="bookmark">{{ page.title }}</a></h1>
        <p class="lead">{{ page.description }}</p>
        <nav role="navigation">
            {% for category in page.categories %}
                <a rel="category"
                   href="/{{ category }}"
                   title="category: {{ category }}"><span class="label label-inverse"><i class='icon-bookmark'></i> {{ category }}</span></a>
            {% endfor %}
            {% assign tags = page.tags | sort %}
            {% for tag in tags %}
                <a rel="tag"
                   data-tag="{{ tag }}"
                   href="/tags#{{ tag }}"
                   title="tag: {{ tag }}"><span class="label"><i class='icon-tag'></i> {{ tag }}</span></a>
            {% endfor %}
        </nav>
    </div>
</header>

<div class="container" data-layout="{{ page.layout-current }}">
    <div class="row">
        <aside class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav" data-spy="affix" data-offset-top="300">
                <li><a href="#download-bootstrap"><i class="icon-chevron-right"></i> Download</a></li>
                <li><a href="#file-structure"><i class="icon-chevron-right"></i> File structure</a></li>
                <li><a href="#contents"><i class="icon-chevron-right"></i> What's included</a></li>
                <li><a href="#html-template"><i class="icon-chevron-right"></i> HTML template</a></li>
                <li><a href="#examples"><i class="icon-chevron-right"></i> Examples</a></li>
                <li><a href="#what-next"><i class="icon-chevron-right"></i> What next?</a></li>
            </ul>

            {% include body.social.html %}
            {% include body.tags.html %}

        </aside>
        <div class="span9">
            <section id="main-content">

                <article>
                    {{ content }}
                  <p>
                    Posted in&nbsp;
                    {% for category in page.categories %}
                    <a href="/categories/{{ category }}" title="{{ category }}" rel="category tag">{{ category }}</a>
                    {% endfor %}
                  </p>
                  <p>
                    <span class="date full-date">
                      <abbr class="published" title="{{ page.date }}">{{ page.date | date_to_string }}</abbr>
                    </span>
                  </p>
                </article>

                {% include body.disqus.html %}

            </section>
        </div>
    </div>
</div>
