---
    layout: html.default
---

{% assign page-posts = '' %}
{% assign page-tags = '' %}
{% assign page-categories = page.categories | join:',' | append:',' | prepend:',' %}
{% assign post-date-year  = '' %}
{% for post in site.posts %}
    {% assign post-out-categories = page-categories %}
    {% for category in post.categories %}
        {% assign c = category | append:',' | prepend:',' %}
        {% assign post-out-categories = post-out-categories | replace:c,',' %}
    {% endfor %}
    {% if page.categories == empty or page-categories != post-out-categories %}
        {% assign page-tags = post.tags | join:',' | append:',' | appand:page-tags %}
        {% assign prev-post-date-year = post-date-year %}
        {% assign post-date-year = post.date | date:'%Y' %}
        page-posts.size:{{ page-posts | size }}<br />
        {% capture page_post %}
            aaaaaaaaaaaaaaaaaa
        {% endcapture %}
        page-post.size:{{ page_post | size }}<br />
        {% assign page-posts = page_posts | append:page-post  %}
    {% endif %}
{% endfor %}

{% assign page-tags = page-tags | split:',' %}
{% assign page-tags-uniq = '' %}
{% raw %}
{% for tag in page-tags %}
    {% unless tag in page-tags-uniq %}
        {% assign page-tags-uniq = page-tags-uniq | join:',' | append:',' | append:tag | split:',' %}
    {% endunless %}
{% endfor %}
{% assign page-tags-uniq = page-tags-uniq | sort %}
{% endraw %}

<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1><a href="{{ page.url }}" title="{{ page.title }}" rel="bookmark">{{ page.title }}</a></h1>
        <p class="lead">{{ page.description }}</p>
        <nav role="navigation">
            {% for category in page.categories %}
                <a rel="category"
                   href="/{{ category }}"
                   title="category: {{ category }}"><span class="label label-inverse"><i class='icon-bookmark'></i> {{ category }}</span></a>
            {% endfor %}
            {% for tag in page-tags-uniq %}
                <a rel="tag"
                   href="/tags#{{ tag }}"
                   title="tag: {{ tag }}"><span class="label"><i class='icon-tag'></i> {{ tag }}</span></a>
            {% endfor %}
        </nav>
    </div>
</header>

<div class="container">
    <div class="row">
        <aside class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav" role="navigation">
                <li><a href="#download-bootstrap"><i class="icon-chevron-right"></i> Download</a></li>
                <li><a href="#file-structure"><i class="icon-chevron-right"></i> File structure</a></li>
                <li><a href="#contents"><i class="icon-chevron-right"></i> What's included</a></li>
                <li><a href="#html-template"><i class="icon-chevron-right"></i> HTML template</a></li>
                <li><a href="#examples"><i class="icon-chevron-right"></i> Examples</a></li>
                <li><a href="#what-next"><i class="icon-chevron-right"></i> What next?</a></li>
            </ul>
          <iframe src="http://ghbtns.com/github-btn.html?user={{ site.author.github.name }}&type=follow&count=true"
                  allowtransparency="true" frameborder="0" scrolling="0" width="210" height="20"></iframe>
          <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a><br />
          <div class="g-plusone" data-size="medium"></div>
        </aside>
        <div class="span9">
            <section id="main-content">

{{ content }}
{{ page-posts }}

            </section>
        </div>
    </div>
</div>
