---
    layout: html.default
---

{% assign toc  = ',' %}
{% assign sections = '' %}
{% assign section  = '' %}
{% assign post-date-year  = '' %}



{% for post in site.posts %}
    {% assign post-allow = false %}
    {% for category in page.categories %}
        {% if post.categories contains category %}
            {% assign post-allow = true %}
        {% endif %}
    {% endfor %}

    {% assign post-date-year-prev = post-date-year %}
    {% assign post-date-year = post.date | date:'%Y' %}
    {% assign post_content = false %}
    {% assign post-append  = false %}

    {% if page.categories == empty or post-allow %}
        {% capture post_content %}
            <article class="post">
                <time datetime ="{{ post.date }}"
                      pubdate  ="{{ post.date }}"
                      title    ="{{ post.date }}">{{ post.date | date:'%b %d' }}</time>
                <h2><a class="title"
                       rel  ="bookmark"
                       href ="{{ post.url }}"
                       title="{{ post.title }}">{{ post.title }}</a></h2>
                <nav role="navigation">
                    {% for category in post.categories %}
                        <a rel  ="category"
                           href ="/{{ category }}"
                           title="category: {{ category }}"><span class="label label-inverse"><i class='icon-bookmark'></i> {{ category }}</span></a>
                    {% endfor %}
                    {% assign post-tags-sorted = post.tags | sort %}
                    {% for tag in post-tags-sorted %}
                        <a rel="tag"
                           data-tag="{{ tag }}"
                           href="/tags#{{ tag }}"
                           title="tag: {{ tag }}"><span class="label"><i class='icon-tag'></i> {{ tag }}</span></a>
                    {% endfor %}
                </nav>
            </article>
        {% endcapture %}
    {% endif %}

    {% if post_content or forloop.last %}

        {% if post-date-year-prev =='' or post-date-year-prev == post-date-year %}
            {% assign post-append = true %}
        {% endif %}

        {% if post-append %}
            {% assign section = section | append:post_content %}
        {% endif %}

        {% unless toc contains post-date-year %}
            {% assign toc = toc | append:',' | append:post-date-year %}
        {% endunless %}

        {% if post-append == false or forloop.last %}

            {% capture sections %}
                {{ sections }}
                <section id="toc-{{ post-date-year-prev }}">
                    <h1>{{ post-date-year-prev }}</h1>
                    {{ section }}
                </section>
            {% endcapture %}

            {% if forloop.last and post_content %}
                {% capture sections %}
                    {{ sections }}
                    <section id="toc-{{ post-date-year }}">
                        <h1>{{ post-date-year }}</h1>
                        {{ post_content }}
                    </section>
                {% endcapture %}
            {% else %}
                {% assign section = post_content %}
            {% endif %}

        {% endif %}

    {% endif %}

{% endfor %}

<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1><i class="icon-category-{{ page.categories[0] }}"></i> <a href="{{ page.url }}" title="{{ page.title }}" rel="bookmark">{{ page.title }}</a></h1>
        <p class="lead">{{ page.description }}</p>
    </div>
</header>

<div class="container">
    <div class="row">
        <aside class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav" role="navigation" data-spy="affix" data-offset-top="200">
                {% assign toc = toc | replace:',,','' | split:',' %}
                {% for t in toc %}
                    <li><a href="#toc-{{ t }}"><i class="icon-chevron-right"></i> {{ t }}</a></li>
                {% endfor %}
            </ul>
            
            {% include body.social.html %}
            {% include body.tags.html %}
            
        </aside>
        <div class="span9">
            <section id="main-content">

                {{ content }}
                {{ sections }}

            </section>
        </div>
    </div>
</div>
