---
    layout: default
---
{% assign page-categories = page.categories | join:',' | append:',' | prepend:',' %}
<ul class="posts">
{% for post in site.posts %}
    {% assign post-out-categories = page-categories %}
    {% for category in post.categories %}
        {% assign c = category | append:',' | prepend:',' %}
        {% assign post-out-categories = post-out-categories | replace:c,',' %}
    {% endfor %}
    {% if page.categories == empty or page-categories != post-out-categories %}
        <li class="post">
            <div class="date" title="{{ post.date }}">{{ post.date | date_to_string }}</div>
            <h1><a class="title" href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a></h1>
            <div>
                {% for category in post.categories %}
                    <a href="/{{ category }}" title="category: {{ category }}" rel="category"><span class="label label-inverse">{{ category }}</span></a>
                {% endfor %}
                {% for tag in post.tags %}
                    <a href="/tags/{{ tag }}" title="tag: {{ tag }}" rel="tag"><span class="label">{{ tag }}</span></a>
                {% endfor %}
            </div>
        </li>
    {% endif %}
{% endfor %}
</ul>
